# Puerto del backend
PORT=####

# URL de conexión a la base de datos PostgreSQL
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/base_de_datos

# Clave para firmar JWTs
JWT_SECRET=clave_secreta

